/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.comtact-wrapper-bg{background-image: url(../img/image-bg.jpg)}

.section-padding {
  padding: 80px 0;
}
.contact-wrapper {
  position: relative;
  padding: 80px;
  color: #fff;
}
.comtact-wrapper-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  content: "";
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.contact-wrapper .row {
  position: relative;
  z-index: 2;
}
.comtact-wrapper-bg:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #262676;
  z-index: -1;
  opacity: 0.6;
}
.boxed-form {
  padding: 40px;
  background: #fff;
  color: #333;
  box-shadow: 0 0 5px #333;
}
.boxed-form h2{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    color: #444;
}
.boxed-form input, .boxed-form textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #ddd;
}
.boxed-form textarea {
  height: 130px;
}
.boxed-form input[type=submit] {
  background: #1ed85f;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  transition: .3s;
  border-radius: 2px;
}
.boxed-form input[type=submit]:hover{
  background: #262676;
  color: #fff;
}